.HotAccessoriesMenu{
    display: flex;
    justify-content: center;
}

.HotAccessoriesLink{
    text-decoration: none;
    color: rgb(94, 94, 94);
    margin: 1vmax;
    padding: 0.5vmax 0;
   font-family: Gilroy-medium; 
   letter-spacing: -0.5px;

}

.HotAccessoriesLink:hover{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
} 